# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT="5000"
NODE_ENV="development"
DATABASE_URL="postgresql://postgres:49675@localhost:5432/l2_assignment_008?schema=public"
FRONTEND_URL="http://localhost:3000"

# bcrypt
BCRYPT_SALT_ROUND=10

# jwt
ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRES_IN=30d

# super admin
SUPER_ADMIN_EMAIL=""
SUPER_ADMIN_PASS=""
SUPER_ADMIN_CONTACT=""

# cloudinary 
CLOUD_NAME=""
API_KEY=""
API_SECRET=""

# stripe payment
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

PAYMENT_SUCCESS_URL="http://localhost:3000/payment-success"
PAYMENT_CANCEL_URL="http://localhost:3000/payment-cancel"

# add ai
OPEN_ROUTER_API_KEY=""